.card {
	background-color: rgba(224, 218, 218, 0.7);
}

.mobileSlider {
	background-size: cover;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	padding: 0px 20px;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 2px 2px 4px #000000;
}
